.profile-picture {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 60px 0;

  @media only screen and (min-width: 700px) {
    justify-content: center;
    display: flex;
    text-align: left;
  }

  @media only screen and (min-width: 1024px) {
    padding: 80px 0;
  }

  @media print {
    padding: 20px 0;
  }

  img {
    flex-shrink: 0;
    border-radius: 50%;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

    @media print {
      padding: 0;
    }
  }

  & > div > * {
    text-align: left;

    &:first-child b {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 4px;
    }
  }
}
