* {
  /* font-family: 'Open Sans', sans-serif; */
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.edges-circle {
  border-radius: 50%;
}

.profile-picture {
  position: relative;
  z-index: 1;
  justify-content: center;
  color: #333;
  margin-bottom: 80px;
  padding-top: 60px;
  display: flex;
  text-align: left;
}

/* @media only screen and (max-width: 1200px) {
  .profile-picture {
    justify-content: flex-start;
  }
} */

.profile-picture img {
  flex-shrink: 0;
}

.profile-picture > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.profile-picture > div > * {
  text-align: left;
}

.profile-picture > div > *:first-child b {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 4px;
}

body > main {
  padding-bottom: 200px !important;
}

body > nav {
  display: block;
  background-color: white;
  z-index: 99;
  position: fixed;
  right: 0;
  top: 80px;
}

body > nav a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 32px;
  width: 180px;
  text-align: right;
  cursor: pointer;
  background-color: #fff;
  transition: background-color .4s;
}


body > nav a.active {
  background-color: #eeeeee;
}

body > nav .contact {
  margin-top: 20px;
}

body > nav .contact a {
  font-size: 14px;
  opacity: 0.6;
}

.content-max-width {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    margin-right: 255px;
  }

  .content-max-width {
    max-width: 700px;
    margin: 0;
    padding: 0 10px;
  } 
}

img {
  max-width: 100%;
}